.graph-container {
  margin-top: 5vh;
}

.g {

  &-container {
    background-color: $white;
    border: 1px solid $black;
    padding: .5em;
    height: 150px;
    overflow: hidden;
  }

  &-title {
    position: absolute;
    font-weight: bold;
    font-variant: small-caps;
    margin-bottom: 0;
  }

  &-label {
    position: relative;
    top: 100px;
    width: 100%;
    text-align: center;
    font-weight: bold;

    &+div { margin-top: -24px; }
  }
}