@import '_colors.scss';

@import '../containers/OverviewContainer/overviewContainer';

@import '../components/FileUploader/fileUploader';
@import '../components/Sidebar/sidebar';

body {
  overflow: hidden;
  overflow-y: auto;
  font-family: "Roboto", sans-serif;
  background-color: $main;
  color: $main_text;
}

.section-title {
  font-size: 2em;
  font-variant: small-caps;
  font-weight: lighter;
}
